{% extends 'layout.html' %}
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</head>
{% block body %}

<h1>Besucherzahlen</h1>
<br>
<div class="tab">
    <button class="tablinks" onclick="openVisitorPlots(event, 'Heute')">Heute</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'Gestern')">Gestern</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'Woche')">7 Tage</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'Gesamt')">Gesamt</button>

</div>

<!-- Tab content -->
<div id="Heute" class="tabcontent">
    <h3>Heute <span id="today"></span></h3>

    {% if setting.todayAvailable %}

    <br>
    <div id="demodiv" style="width:100%"></div>
    <br>

    <canvas id="myChart1"></canvas>

    {% else %}

    <h5>Für den heutigen Tag sind bisher noch keine Besucherzahlen erfasst worden.</h5>

    {% endif %}

    <!--<img style="display: block; text-align: center;" src="{{ url_for('plots.plot_visitor_today') }}" alt="my plot">-->


</div>

<div id="Gestern" class="tabcontent">
    <h3>Gestern <span id="yesterday"></span></h3>

    {% if setting.yesterdayAvailable %}

    <img class="img_center"
         src="{{ url_for('plots.plot_visitor_yesterday') }}" alt="my plot">

    {% else %}

    <h4>Für den gestrigen Tag sind keine Besucherzahlen erfasst worden.</h4>

    {% endif %}


</div>

<div id="Woche" class="tabcontent">
    <h3>Diese Woche <span id="7days"></span></h3>

    <img style="display: block; text-align: center;" src="{{ url_for('plots.plot_visitor_week') }}" alt="my plot">
</div>


<div id="Gesamt" class="tabcontent">
    <h3>Gesamt</h3>

</div>

<br>
<br>

<h1>Abstandskontrolle</h1>


<br>
<br>

<h1>Maskenerkennung</h1>

<div class="tab">
    <button class="tablinks" onclick="openVisitorPlots(event, 'maskToday')">Heute</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'maskYesterday')">Gestern</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'maskWeek')">7 Tage</button>
    <button class="tablinks" onclick="openVisitorPlots(event, 'maskTotal')">Gesamt</button>


</div>

<!-- Tab content -->
<div id="maskToday" class="tabcontent">
    <h3>Heute <span id="today1"></span></h3>



</div>

<div id="maskYesterday" class="tabcontent">
    <h3>Gestern <span id="yesterday1"></span></h3>




</div>

<div id="maskWeek" class="tabcontent">
    <h3>Diese Woche <span id="7days1"></span></h3>


</div>


<div id="maskTotal" class="tabcontent">
    <h3>Gesamt</h3>

</div>

<script>
//das untere script


//let filename = 'static/AnnualProjected-Modeled.csv';
let filename = 'static/today3.csv';



// all of your code should be inside this command
d3.csv(filename).then(function(loadedData) {

  // let's see if our data loaded correctly
  // (and take a peek at how it's formatted)


  // empty lists for our data and the labels
  let data =   [];
  let labels = [];

  // use a for-loop to load the data from the
  // file into our lists
  for (let i=0; i<loadedData.length; i++) {


    // get the year and mean temp for each listing
    // note: the 'keys' here correspond to the headers
    // in our file and need to be typed exactly
    //let year =     loadedData[i].year;
    //let meanTemp = loadedData[i].rcp45_weighted_mean;
    let year =     loadedData[i].timestamp;
    let meanTemp = loadedData[i].amount;


    // add the year to our labels
    labels.push(year);

    // and mean temp to the data
    data.push(meanTemp);
  }

  // basic line chart settings
  let daten = {
    type: 'line',
    title: {
      display: true,
      text: 'Positive Cases of COVID in provinces of Canada'
    },
    data: {
      labels: labels,  // the labels we loaded!
      datasets: [{
        data: data,    // the data we loaded!
        label: new Date().toLocaleDateString(),
        fill: false,
        borderColor: 'rgb(100,100,100)'
      }]
    }

  };



  // with all that done, we can create our chart!
  let chart = new Chart(document.getElementById('myChart1'), daten);
});


</script>

<!-- dygraph -->
<script>


    g = new Dygraph(
      document.getElementById("demodiv"),
      "static/today.txt",
      {
        rollPeriod: 5,
        showRoller: true,

        title: 'Besucherzahlen',
        ylabel: 'Besucherzahl',
        width: '800',
        legend: 'follow',
        rightGap: '0'
      }
    );


</script>

<!-- visitor plot -->
<script>
    var x = 0;

    function openVisitorPlots(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }


  // Show the current tab, and add an "active" class to the button that opened the tab
  if (x == 0) {
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    x = 1;
    } else {
    document.getElementById(cityName).style.display = "hidden";
    x = 0;
    }

}

//Datum

var dt = new Date();
var dt_yesterday = new Date()
dt_yesterday.setDate(dt_yesterday.getDate() - 1);
var dt_week = new Date()
dt_week.setDate(dt_week.getDate() - 7);


// visitor
document.getElementById("today").innerHTML = dt.toLocaleDateString();
document.getElementById("yesterday").innerHTML = dt_yesterday.toLocaleDateString();
document.getElementById("7days").innerHTML = dt_week.toLocaleDateString() + " - " + dt.toLocaleDateString();

// mask
document.getElementById("today1").innerHTML = dt.toLocaleDateString();
document.getElementById("yesterday1").innerHTML = dt_yesterday.toLocaleDateString();
document.getElementById("7days1").innerHTML = dt_week.toLocaleDateString() + " - " + dt.toLocaleDateString();




</script>

<style>
    .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.img_center {
  display: flex;
  justify-content: center;
  align-items: center;"
}




</style>


{% endblock %}




