{% extends 'layout.html' %}
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


</head>
{% block body %}

<!-- Besucherzahlen -->
<div>
    <h1>Besucherzahlen</h1>

    <div class="tab">
        <button class="tablinks" target="_visitor">Übersicht</button>
    </div>


    <div id="div_visitor" class="tabcontent">
        <h3>Statistiken</h3>

        <div>
            <!-- erste Reihe; durchschnittliche Besucher -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.avg_daily_available %}
                        <span class="count-numbers">{{ visitorSettings.avg_daily }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">&Oslash; - Personen im Geschäft (Heute)</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.avg_yesterday_available %}
                        <span class="count-numbers">{{ visitorSettings.avg_yesterday }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">&Oslash; - Personen im Geschäft (Gestern)</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.avg_week_available %}
                        <span class="count-numbers">{{ visitorSettings.avg_week }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">&Oslash; - Personen im Geschäft (Woche)</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.avg_total_available %}
                        <span class="count-numbers">{{ visitorSettings.avg_total }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">&Oslash; - Personen im Geschäft (Gesamt)</span>
                    </div>
                </div>
            </div>
            <!-- zweite Reihe; Besucherhöchstzahlen  -->

            <div class="row">
                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.max_persons_today_available %}
                        <span class="count-numbers">{{ visitorSettings.max_persons_today }}</span>
                        <span class="count-name">höchste Besucherzahl (Heute)<br>{{ visitorSettings.max_persons_today_timestamp }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        <span class="count-name">höchste Besucherzahl (Heute)</span>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.max_persons_yesterday_available %}
                        <span class="count-numbers">{{ visitorSettings.max_persons_yesterday }}</span>
                        <span class="count-name">höchste Besucherzahl (Gestern)<br>{{ visitorSettings.max_persons_yesterday_timestamp }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        <span class="count-name">höchste Besucherzahl (Gestern)</span>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-3 offset-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.max_persons_week_available %}
                        <span class="count-numbers">{{ visitorSettings.max_persons_week }}</span>
                        <span class="count-name">höchste Besucherzahl (Woche)<br>{{ visitorSettings.max_persons_week_timestamp }}</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        <span class="count-name">höchste Besucherzahl (Woche)</span>
                        {% endif %}
                    </div>
                </div>
            </div>


            <!-- dritte Reihe; überwachter Zeitraum -->

            <div class="row">
                <div class="col-md-3">
                    <div class="card-counter info">
                        {% if visitorSettings.range_today_available %}
                        <span class="count-numbers">{{ visitorSettings.range_today }}Min</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">überwachter Zeitraum (Heute)</span>
                    </div>
                </div>

                <div class="col-md-3 offset-md-6">
                    <div class="card-counter info">
                        {% if visitorSettings.range_yesterday_available %}
                        <span class="count-numbers">{{ visitorSettings.range_yesterday }}Min</span>
                        {% else %}
                        <span class="count-numbers">-</span>
                        {% endif %}
                        <span class="count-name">überwachter Zeitraum (Gestern)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- Abstandskontrolle -->
<div>
    <h1>Abstandskontrolle</h1>

    <div class="tab">
        <button class="tablinks" target="_distance_plot">Heat Map</button>


    </div>

    <!-- heatmap -->
    <div id="div_distance_plot" class="tabcontent">
        <h3>Bereiche mit gehäuften Abstandsunterschreitungen</h3>
        <br>

        <div>
            <img id="heatMapImg" style="display: block" src="{{ url_for('plots.plot_heatmap') }}">
        </div>


    </div>


</div>
<br>
<br>

<!-- Masken Analytics --->
<div>
    <h1>Maskenerkennung</h1>

    <div class="tab">
        <button class="tablinks" target="_mask_today">Heute</button>
        <button class="tablinks" target="_mask_yesterday">Gestern</button>
        <button class="tablinks" target="_mask_week">7 Tage</button>
        <button class="tablinks" target="_mask_total">Gesamt</button>


    </div>


    <div id="div_mask_today" class="tabcontent">
        <h3>Heute <span id="date_today"></span></h3>


        {% if piePlotsSettings.todayAvailable %}
        <br>
        <div class="container-fluid" id="pieChartToday"></div>

        {% else %}

        <h5>Für den heutigen Tag sind bisher noch keine Personen mit Masken erfasst worden.</h5>

        {% endif %}


    </div>

    <div id="div_mask_yesterday" class="tabcontent">
        <h3>Gestern <span id="date_yesterday"></span></h3>


        {% if piePlotsSettings.yesterdayAvailable %}
        <br>
        <div class="container-fluid" id="pieChartYesterday"></div>
        {% else %}

        <h5>Für den gestrigen Tag sind bisher noch keine Personen mit Masken erfasst worden.</h5>

        {% endif %}


    </div>

    <div id="div_mask_week" class="tabcontent">
        <h3>Diese Woche <span id="date_week"></span></h3>

        {% if piePlotsSettings.weekAvailable %}
        <br>
        <div class="container-fluid" id="pieChartWeek"></div>

        {% else %}

        <h5>Für diese Woche sind bisher noch keine Personen mit Masken erfasst worden.</h5>

        {% endif %}


    </div>


    <div id="div_mask_total" class="tabcontent">
        <h3>Gesamter Zeitraum</h3>

        {% if piePlotsSettings.totalAvailable %}
        <br>
        <div class="container-fluid" id="pieChartTotal"></div>

        {% else %}

        <h5>Für den gesamten Zeitraum sind bisher noch keine Personen mit Masken erfasst worden.</h5>

        {% endif %}

    </div>
</div>
<br>
<br>

<!-- Steuerung der Tabs der Kategorien -->
<script>

$(function() {
  $('.tablinks').click(function() {
    $('.tabcontent').not('#div' + $(this).attr('target')).hide();
    $('#div' + $(this).attr('target')).toggle();
  });
});


</script>

<!-- Generieren der Datumsangaben für die MaskDetection Plots -->
<script>
//Datum

var dt = new Date();
var dt_yesterday = new Date()
dt_yesterday.setDate(dt_yesterday.getDate() - 1);
var dt_week = new Date()
dt_week.setDate(dt_week.getDate() - 7);


// mask
document.getElementById("date_today").innerHTML = dt.toLocaleDateString();
document.getElementById("date_yesterday").innerHTML = dt_yesterday.toLocaleDateString();
document.getElementById("date_week").innerHTML = dt_week.toLocaleDateString() + " - " + dt.toLocaleDateString();



</script>

<!-- pieChart today -->
<script>
var request = {{ piePlotsSettings.pieChartDataToday }};

Highcharts.chart('pieChartToday', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Relative Verteilung zwischen Maske/keine Maske der verarbeiteten Frames mit Gesichtern'
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b><br><b>{point.y} Frames</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },
    series: [{
        colorByPoint: true,
        data: [{
                        name: 'Maske',
                        y: request[0],
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: request[1]
                        }]
    }]
});




</script>

<!-- piechart yesterday -->
<script>

        var request = {{ piePlotsSettings.pieChartDataYesterday }};

Highcharts.chart('pieChartYesterday', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Relative Verteilung zwischen Maske/keine Maske der verarbeiteten Frames mit Gesichtern'
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b><br><b>{point.y} Frames</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },
    series: [{
        colorByPoint: true,
        data: [{
                        name: 'Maske',
                        y: request[0],
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: request[1]
                        }]
    }]
});



</script>

<!-- piechart week -->
<script>
      var request = {{ piePlotsSettings.pieChartDataWeek }};

Highcharts.chart('pieChartWeek', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Relative Verteilung zwischen Maske/keine Maske der verarbeiteten Frames mit Gesichtern'
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b><br><b>{point.y} Frames</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },
    series: [{
        colorByPoint: true,
        data: [{
                        name: 'Maske',
                        y: request[0],
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: request[1]
                        }]
    }]
});


</script>

<!-- piechart total -->
<script>


        var request = {{ piePlotsSettings.pieChartDataTotal }};

Highcharts.chart('pieChartTotal', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Relative Verteilung zwischen Maske/keine Maske der verarbeiteten Frames mit Gesichtern'
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b><br><b>{point.y} Frames</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },
    series: [{
        colorByPoint: true,
        data: [{
                        name: 'Maske',
                        y: request[0],
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: request[1]
                        }]
    }]
});


</script>

<!-- Suffix für HeatMap erzeugen damit das Bild stets neu und auf den aktuellen Daten berechnet wird -->
<script>
<!-- to prevent caching the heatmap image we add the current datetime to force a roload -->
    var d = new Date();
    document.getElementById("heatMapImg").src =
      "{{ url_for('plots.plot_heatmap') }}?ver" +
       d.getTime();


</script>


<style>
    .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.img_center {
  display: flex;
  justify-content: center;
  align-items: center;"
}


.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }


  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 50px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.65;
    display: block;
    font-size: 15px;
  }






</style>


{% endblock %}




