{% extends 'layout.html' %}


<head>
    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

{% block body %}



<h1>Abstandskontrolle</h1>

<div class="row">
    <div class="col-md-6">


        {% if setting.stream_on %}
        <img src="{{ url_for('video') }}" width="100%" alt="Videostream wird geladen ... ">
        {% else %}
        <img src="/static/img/no_video.png" width="100%">
        {% endif %}


        <br>
        <br>


    </div>


    <div class="col-md-6">

        <div class="row">
            <!-- CARD TIME & FPS -->
            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        Uhrzeit
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="time_card" class="card-text">00:00:00</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        FPS
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="fps" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>


        <!-- Masken; ohne Masken -->
        <div class="row">

            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        Personen erkannt
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="person_count_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        Verstöße

                    </h6>
                    <div class="card-body text-success">
                        <h4 id="violation_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    {% if setting.stream_on %}
    <a id="cam-btn-off" href="/distance_messurement?camera=off" class="btn btn-primary" role="button">Stream beenden</a>
    {% else %}
    <a id="cam-btn-on" href="/distance_messurement?camera=on" class="btn btn-primary" role="button">Stream einschalten</a>
    {% endif %}
</div>



{% endblock %}