{% extends 'layout.html' %}


<head>
    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>




</head>

{% block body %}



<h1>Abstandskontrolle</h1>

<div class="row">
    <div class="col-md-6">


        {% if setting.stream_on %}
        <img src="{{ url_for('distance_detection_video') }}" width="100%" alt="Videostream wird geladen ... ">
        {% else %}
        <img src="/static/img/noVideoAvailable.png" width="100%">
        {% endif %}


        <br>
        <br>


    </div>


    <div class="col-md-6">

        <div class="row">
            <!-- CARD TIME & FPS -->
            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        Uhrzeit
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="time_card" class="card-text">00:00:00</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        FPS
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="fps" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <!-- Masken; ohne Masken -->
        <div class="row">

            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        Personen erkannt
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="person_counter_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card border-success text-center">
                    <h6 class="card-header">
                        Verstöße

                    </h6>
                    <div class="card-body text-success">
                        <h4 id="violation_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    {% if setting.stream_on %}
    <a id="cam-btn-off" href="/distance_messurement?camera=off" class="btn btn-primary" role="button">Stream beenden</a>
    {% else %}
    <a id="cam-btn-on" href="/distance_messurement?camera=on" class="btn btn-primary" role="button">Stream einschalten</a>
    {% endif %}
</div>

<br>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<br>

<!-- Cards beschriften -->
<script>
{% if setting.stream_on %}

function request()
{

    $.get('/backgroundAbstandskontrolle', function(data) {
        $("#fps").text(data.currentFps.toFixed(2));
        $("#person_counter_card").text(data.detected);
        $("#violation_card").text(data.violations);

    })
    setTimeout(request, 1000);

}
request();


{% endif %}
</script>

<!-- Uhrzeit für time_card erstellen -->
<script>

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        $("#time_card").text(("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2));
    }
    setInterval(time, 1000);


</script>








{% endblock %}