{% extends 'layout.html' %}

{% block body %}
<h1>Kontakte</h1>
<br>

<div>
    <h3>Datenbankadministrator/ Softwareentwicklung</h3>


    <p>Manuel Glade<br/>
        Rathenaustraße 26<br/>
        33102 Paderborn<br/>
        Deutschland<br/>
        Tel.: +49 5251 1638-895<br/>

        E-Mail:&nbsp;<a href="mailto:info@datenbankadmin.de">info@datenbankadmin.de</a><br/>

    </p>
    </p>
</div>
<br>

<div>
    <h3>Mitarbeiterverwaltung</h3>


    <p>Julian Kiefer<br/>
        Sanderring 2<br/>
        97074 Würzburg<br/>
        Deutschland<br/>
        Tel.: +49 5626 1638-895<br/>

        E-Mail:&nbsp;<a href="mailto:juliankiefer@datenbankadmin.de">juliankiefer@datenbankadmin.de</a><br/>

    </p>
    </p>
</div>
<br>

<div>
    <h3>Datenschutzbeauftragter</h3>


    <p>Alexander Salinger<br/>
        Sanderring 2<br/>
        97074 Würzburg<br/>
        Deutschland<br/>
        Tel.: +49 15151 151 1515<br/>

        E-Mail:&nbsp;<a href="mailto:alexsallinger@datenbankadmin.de">alexsalinger@datenschutzbeauftragter.de</a><br/>

    </p>
    </p>
</div>
<br>

<div>
    <h3>Systemverwaltung</h3>


    <p>Fei Chang<br/>
        Sanderring 2<br/>
        97074 Würzburg<br/>
        Deutschland<br/>
        Tel.: +49 15151 151 1515<br/>
        E-Mail:&nbsp;<a href="mailto:fiechang@datenbankadmin.de">fiechang@datenbankadmin.de</a><br/>

    </p>
    </p>
</div>


{% endblock %}
