{% extends 'layout.html' %}


<head>
    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->


</head>

{% block body %}

<h1>Mask Detection</h1>

<div class="row">
    <div class="col-md-6">


        {% if setting.stream_on %}
        <img src="{{ url_for('mask_detection_video') }}" width="100%" alt="Videostream wird geladen ... ">
        {% else %}
        <img src="/static/img/noVideoAvailable.png" width="100%">
        {% endif %}


        <br>
        <br>


    </div>


    <div class="col-md-6">

        <div class="row">
            <!-- CARD TIME & FPS -->
            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        Uhrzeit
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="time_card" class="card-text">00:00:00</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        FPS
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="fps" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Personen detected -->
        <div class="row">


            <div class="col-md-6 mb-2 offset-md-6">
                <div class="card text-center">
                    <h6 class="card-header">
                        Personen erkannt
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="person_counter_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Masken; ohne Masken -->
        <div class="row">

            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        Mit Masken
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="mask_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card text-center">
                    <h6 class="card-header">
                        Ohne Maske
                    </h6>
                    <div class="card-body text-success">
                        <h4 id="no_mask_card" class="card-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    {% if setting.stream_on %}
    <a id="cam-btn-off" href="/maskdetection?camera=off" class="btn btn-primary" role="button">Stream beenden</a>
    {% else %}
    <a id="cam-btn-on" href="/maskdetection?camera=on" class="btn btn-primary" role="button">Stream einschalten</a>
    {% endif %}
</div>

<br>
<br>

{% if setting.stream_on %}
<div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row">
        <div class="container-fluid" id="piechart">
        </div>
    </div>
</div>
{% else %}
<div></div>
{% endif %}


<style>
    #cards.row {
   border-color: #28a745;
}

</style>


<!-- Cards beschriften -->
<script>
{% if setting.stream_on %}

function request()
{

    $.get('/backgroundMask', function(data) {
        $("#fps").text(data.currentFps.toFixed(2));
        $("#person_counter_card").text(data.detected);
        $("#mask_card").text(data.withMask);
        $("#no_mask_card").text(data.withoutMask);

    })
    setTimeout(request, 1000);

}
request();


{% endif %}


</script>


<!-- Uhrzeit für time_card erstellen -->
<script>

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        $("#time_card").text(("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2));
    }
    setInterval(time, 1000);


</script>

<!-- piechart -->
<script>
        var pieChart;
        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/mask_detection_pie_chart_data');

            var tm = requests.done(function (result)
            {

                var updatedData = [{
                        name: 'Maske',
                        y: result[0],
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: result[1]
                        }];





                pieChart.series[0].setData(updatedData, true);


                // call it again after one second
                setTimeout(requestData, 5000);

            });
        }

        $(document).ready(function()
        {
            // --------------Chart 1 ----------------------------
            pieChart = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'piechart',
                    defaultSeriesType: 'pie',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Verteilung erkannter Masken des aktuellen Streams'
                    },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                    },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },

                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'Anteil erkannter Masken',
                    data: [{
                        name: 'Maske',
                        y: 60,
                        sliced: true,
                        selected: true
                        }, {
                        name: 'Keine Maske',
                        y: 40
                        }]
                }]
            });


        });




</script>


{% endblock %}





