{% extends 'layout.html' %}


<head>
    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

{% block body %}


<div>
    <h1>Person Counter</h1>
    <div class="row">
        <div class="col-md-6">

            {% if setting.stream_on %}
            <img src="{{ url_for('person_counter_video') }}" width="100%" alt="Videostream wird geladen ... ">
            {% else %}
            <img src="/static/img/noVideoAvailable.png" width="100%">
            {% endif %}


            <br>
            <br>


        </div>


        <div class="col-md-6">
            <!-- Uhrzeit & FPS -->
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="card text-center">
                        <h6 class="card-header">
                            Uhrzeit
                        </h6>
                        <div class="card-body text-success">
                            <h4 id="time_card" class="card-text">00:00:00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="card text-center">
                        <h6 class="card-header">
                            FPS
                        </h6>
                        <div class="card-body text-success">
                            <h4 id="fps" class="card-text">0</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- Personen insgesamt im Laden -->
            <div class="row">


                <div class="col-md-6 mb-2 offset-md-6">
                    <div class="card text-center">
                        <h6 class="card-header">
                            Personen im Geschäft
                        </h6>
                        <div class="card-body text-success">
                            <h4 id="person_total_in_business" class="card-text">0</h4>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <!-- Personen rein und raus -->
            <div class="row">

                <div class="col-md-6 mb-2">
                    <div class="card text-center">
                        <h6 class="card-header">
                            Betreten
                        </h6>
                        <div class="card-body text-success">
                            <h4 id="person_in" class="card-text">0</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="card text-center">
                        <h6 class="card-header">
                            Verlassen

                        </h6>
                        <div class="card-body text-success">
                            <h4 id="person_out" class="card-text">0</h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>

<!-- On/Off Button + Zusatzinformationen -->
<div>
    {% if setting.stream_on %}
    <a id="cam-btn-off" href="/person_counter?camera=off" class="btn btn-primary" role="button">Stream beenden</a>


    {% else %}
    <a id="cam-btn-on" href="/person_counter?camera=on" class="btn btn-primary" role="button">Stream einschalten</a>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="Stream mit Zusatzinformationen einschalten">
        Stream mit Zusatzinformationen einschalten
    </button>

    <!-- mit zusatzinfos starten als popup feld -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Zusatzinformationen</h4>
                </div>
                <form onsubmit="window.location = '/person_counter?camera=on&persons=' + number.value + '&threshold=' + threshold.value + '&yellow=' + yellow.value  + '&red=' + red.value ; return false;">
                    <div class="modal-body">

                        <label for="number" class="control-label">Personen im Geschäft:</label>
                        <input id="number" class="form-control" type="number" min="0" max="5000" step="1"
                               placeholder="Anzahl" required>
                        <br>

                        <label for="threshold" class="control-label">Sicherheit bei der Vorhersage (0.5 &#x2259; 50%)
                            :</label>
                        <input id="threshold" class="form-control" type="number" min="0.1" max="0.9" step="0.1"
                               placeholder="0.5">
                        <br>
                        <label for="yellow" class="control-label">Schwellenwert für kritische Besucherzahl (Ampel wird
                            Gelb)</label>
                        <input id="yellow" name="yellow" class="form-control" type="number" min="1" max="5000" step="1"
                               placeholder="Anzahl" required>
                        <br>
                        <label for="red" class="control-label">Schwellenwert maximale Besucherzahl (Ampel wird
                            Rot)</label>
                        <input id="red" name="red" class="form-control" type="number" min="1" max="5000" step="1"
                               placeholder="Anzahl" onsubmit="" required>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        <input class="btn btn-primary" type="submit" onclick="return validate();"
                               value="Stream mit Zusatzinformationen starten">
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% endif %}
</div>

<br>
<hr style="height:1px;border:none;color:#333;background-color:#333;"/>

<!-- validiert dass die maximale Besucherzahl > kritische Schwelle -->
<script>
function validate(){
     var yellow = parseInt(document.getElementById('yellow').value);
     var red = parseInt(document.getElementById('red').value);
     if(yellow >= red){
         alert('Der Schwellenwert für die kritische Besucherzahl ist größer als die maximale Besucherzahl');
          return false;
     }
}





</script>

<div>
    <br>


    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-person-counter1">
            </div>
        </div>
    </div>

</div>
{% if setting.stream_on %}
<div class="row">

    <div class="col-md-3">
        <h4 class="text-center">Aktuelle Auslastung</h4>
        <br>
        <div class="parent-traffic-light">
            <div class="traffic-light">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <br>
    </div>


    <div class="col-md-9">
        <div class="container-fluid" id="data-person-counter">
        </div>

    </div>


</div>
{% endif %}

<!-- traffic light,  Cards beschriften -->
<script>
{% if setting.stream_on %}
;(function(doc){
    let runLight = false;
    let interval;
    let step = 1; let count = 0;

    function removeClasses(elem, colors) {
        let len = colors.length;
        for(item of elem) {
            for(let i = 0; i < len; i++) {
                if(item.classList.contains(colors[i])) {
                    item.classList.remove(colors[i]);
                }
            }
        }
    }

    function runInterval(elem, colors, current_count, yellow_mark, red_mark) {


        removeClasses(elem, colors);
        if (current_count >= red_mark) {
           elem[0].classList.add(colors[0]);
        } else if (current_count >= yellow_mark) {
           elem[1].classList.add(colors[1]);
        } else {
            elem[2].classList.add(colors[2]);
        }


    }

    function run(current_count,yellow_mark,red_mark) {
        let light = doc.querySelectorAll('.circle');
        if(light !== null) {
            let lightColor = ["red", "yellow", "green"];
            runInterval(light, lightColor, current_count, yellow_mark, red_mark);
        }
    }

    function turnOffLight() {
        let light = doc.querySelectorAll('.circle');
        if(light !== null) {
            let lightColor = ["red", "yellow", "green"];
            removeClasses(light, lightColor);
        }
    }


    function request()
    {

    $.get('/backgroundPersonCounter', function(data) {
        $("#fps").text(data.currentFps.toFixed(2));
        $("#person_total_in_business").text(data.currentAmountOfPersonInside);
        $("#person_in").text(data.personsIn);
        $("#person_out").text(data.personsOut);


        {% if setting.use_traffic_light %}
        run(data.currentAmountOfPersonInside,data.yellow_mark,data.red_mark);
        {% else %}
        turnOffLight();
        {% endif %}


    })
    setTimeout(request, 5000);

    }
    request();
})(document);


{% endif %}





</script>




<!-- Uhrzeit für time_card erstellen -->
<script>

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        $("#time_card").text(("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2));
    }
    setInterval(time, 1000);




















</script>

<!-- popover bei mehr informationen -->
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-body input').val(recipient)
})













</script>

<script>
        var chartTemperature;
        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            var tm = requests.done(function (result)
            {
                // Temperature
                var seriesTemperature = chartTemperature.series[0],
                    shiftTemperature = seriesTemperature.data.length > 50;




                // rein = 1, raus = 2
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1] - result[2]);




                chartTemperature.series[0].addPoint(data1, true, shiftTemperature);



                // call it again after one second
                setTimeout(requestData, 15000);

            });
        }

        $(document).ready(function()
        {
            // --------------Chart 1 ----------------------------
            chartTemperature = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-person-counter',
                    defaultSeriesType: 'line',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Kunden im Geschäft'
                    },
                xAxis: {
                    type: 'datetime',
                    formatter: function() {
                        return Highcharts.dateFormat("%H:%M", this.value);
                    },


                        },
                yAxis: {
                    minPadding: 1,
                    title: {
                        text: 'Value',

                            }
                         },


                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'aktuelle Kunden im Geschäft',
                    data: []
                }]
            });


        });

























</script>

{% endblock %}

